*, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
}
.main-container .inner-container {
  margin: 0 auto;
  max-width: 1350px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
}

ul {
  padding: 0px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

hr {
  width: 150px;
  border-top: 2px solid #0a0a0a;
  margin: 0 auto;
  margin-bottom: 12px;
}

input, textarea {
  height: 68px;
  width: 398px;
  background-color: #ffffff;
  border: 1px solid #00756c;
  outline: none;
  padding: 10px;
}

button {
  background-color: #ffffff;
  border: 1px solid #00756c;
  width: 204px;
  height: 53px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  line-height: 53px;
  border: 1px solid #00756c;
}
button:hover {
  background-color: #00756c;
  color: #ffffff;
  transition: 2s;
}
button:active {
  background-color: #00756c;
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 10px;
}

.border {
  border-bottom: 1px solid #0a0a0a;
}

header {
  position: sticky;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
header .inner-container section .header-content {
  padding: 1.5rem 0.75rem 1.5rem 0.75rem;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 100px;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .inner-container section .header-content {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .inner-container section .header-content {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
  }
}
header .inner-container section .header-content .header-left-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 6px;
}
header .inner-container section .header-content .header-left-content a button {
  background-color: #00756c;
  color: white;
}
header .inner-container section .header-content .header-left-content a button span {
  font-weight: 600;
}
header .inner-container section .header-content .header-left-content a button:hover {
  background-color: white;
  color: #00756c;
  transition: 2s;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .inner-container section .header-content .header-left-content a button .first-btn {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .inner-container section .header-content .header-left-content a button .first-btn {
    display: none !important;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header .inner-container section .header-content .header-left-content a .first-small-width {
    width: 2.625rem !important;
    height: 2.625rem !important;
    line-height: 42px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .inner-container section .header-content .header-left-content a .first-small-width {
    width: 84px !important;
    height: 52px !important;
    line-height: 52px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header .inner-container section .header-content .header-left-content a .second-small-width {
    height: 2.625rem !important;
    width: 80px;
    line-height: 42px;
    font-size: 11px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .inner-container section .header-content .header-left-content a .second-small-width {
    height: 52px;
    width: 149px;
    line-height: 52px;
    font-size: 15px;
  }
}
header .inner-container section .header-content .header-right-content {
  justify-self: end;
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .inner-container section .header-content .header-right-content {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .inner-container section .header-content .header-right-content {
    display: block;
  }
}
header .inner-container section .header-content .header-middle-content a {
  display: inline-block;
}
header .inner-container section .header-content a {
  display: block;
  text-decoration: none;
}
header .inner-container section .divider {
  display: block;
  width: 100%;
  height: 0;
  border-top: 1px solid #0a0a0a;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .inner-container section .divider {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .inner-container section .divider {
    display: none;
  }
}
header .inner-container section .mobile-menu {
  padding: 21px 10px 20px 10px;
  text-align: center;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .inner-container section .mobile-menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 89px;
    left: 0px;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .inner-container section .mobile-menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 89px;
    left: 0px;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  header .inner-container section .mobile-menu {
    display: block;
  }
}
header .inner-container section .mobile-menu ul {
  position: relative;
}
header .inner-container section .mobile-menu ul li {
  display: inline-block;
  margin-right: 24px;
  position: relative;
  padding-left: 34px;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .inner-container section .mobile-menu ul li {
    margin: 0;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .inner-container section .mobile-menu ul li {
    margin: 0;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
  }
}
header .inner-container section .mobile-menu ul li:first-child {
  padding: 0;
}
header .inner-container section .mobile-menu ul li:first-child::before {
  display: none;
}
header .inner-container section .mobile-menu ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
header .inner-container section .mobile-menu ul li::before {
  content: "";
  display: grid;
  width: 6px;
  height: 6px;
  border: 1px solid #6f6e6e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .inner-container section .mobile-menu ul li::before {
    width: 0;
    height: 0;
    border: 0px solid #6f6e6e;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .inner-container section .mobile-menu ul li::before {
    width: 0;
    height: 0;
    border: 0px solid #6f6e6e;
  }
}
header .inner-container section .mobile-menu ul li a {
  color: #000000;
  font-size: 125%;
  padding-bottom: 2px;
}
header .inner-container section .mobile-menu ul li a:hover {
  border-bottom: 2px solid #8ccab7;
}

.main-container .banner {
  background-image: url("../images/banner-1.png");
  height: 400px;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}
.main-container .banner .inner-container .banner-box {
  width: 340px;
  margin: 0 auto;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-box {
    padding: 15px;
    width: 100%;
  }
}
.main-container .banner .inner-container .banner-box h1 {
  font-size: 90px;
  font-family: "Yellowtail", cursive;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-box h1 {
    font-size: 60px;
  }
}
.main-container .banner .inner-container .banner-box p {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
}
.main-container .banner .inner-container .banner-btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 50%);
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-btn {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-gap: 7px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 7px;
  }
}
.main-container .banner .inner-container .banner-btn a {
  font-weight: 600;
  text-decoration: none;
  background: white;
  height: 53px;
  padding: 0px 32px;
  line-height: 53px;
  border: 2px solid #00756c !important;
  cursor: pointer;
  color: #000000;
  display: block;
}
@media (min-width: 1024px) and (max-width: 1352px) {
  .main-container .banner .inner-container .banner-btn a {
    padding: 0px;
    width: 204px;
  }
}
.main-container .banner .inner-container .banner-btn a:hover {
  background: #00756c;
  color: #ffffff;
  transition: 2s;
}
.main-container .banner .inner-container .banner-btn a span {
  font-weight: 600;
  line-height: 48px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-btn a {
    width: 100%;
    padding: 0px 18px;
  }
}
.main-container .banner .inner-container .banner-btn a .mobile-display {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-btn a .mobile-display {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .banner .inner-container .banner-btn a .mobile-display {
    display: block;
  }
}
.main-container .banner .inner-container .banner-btn a .mobile-hide {
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container .banner .inner-container .banner-btn a .mobile-hide {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .banner .inner-container .banner-btn a .mobile-hide {
    display: none;
  }
}

.contact-banner {
  padding: 20px;
  background-image: url("../images/banner-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 548px;
}
.contact-banner .box {
  text-align: center;
}
.contact-banner .box .text-background {
  margin: 0 auto;
  max-width: 400px;
  height: 250px;
  background: rgba(255, 255, 255, 0.9);
  padding: 70px 20px;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-banner .box .text-background {
    padding: 35px 20px;
  }
}
.contact-banner .box .text-background h1 {
  font-size: 26px;
  margin-bottom: 40px;
}
.contact-banner .box .text-background h2 {
  font-size: 20px;
}
.contact-banner .box .input-div {
  position: relative;
  margin-bottom: 30px;
}
.contact-banner .box .input-div input {
  padding: 0px 50px;
  width: 850px;
  border-radius: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-banner .box .input-div input {
    width: 285px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contact-banner .box .input-div input {
    width: 725px;
    padding: 0px 70px;
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  .contact-banner .box .input-div input {
    width: 725px;
    padding: 0px 70px;
  }
}
.contact-banner .box .input-div i {
  top: 21px;
  position: absolute;
  font-size: 26px;
  left: 20%;
  color: #00756c;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-banner .box .input-div i {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contact-banner .box .input-div i {
    left: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  .contact-banner .box .input-div i {
    left: 16%;
  }
}

.cs-form {
  padding-top: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.cs-form .form-grid {
  display: grid;
  grid-template-columns: 290px 915px;
  grid-gap: 148px;
  align-items: baseline;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cs-form .form-grid {
    width: 285px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    grid-gap: 20px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cs-form .form-grid {
    width: 620px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    grid-gap: 20px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  .cs-form .form-grid {
    display: block;
    width: 820px;
    margin: 0 auto;
  }
}
.cs-form .form-grid .cs-booking h4 {
  margin-bottom: 20px;
  color: #888888;
  font-weight: 200;
}
.cs-form .form-grid .cs-booking p {
  line-height: 26px;
  margin-bottom: 25px;
}
.cs-form .form-grid .cs-booking a {
  color: #00756c;
}
.cs-form .form-grid .cs-form-section {
  box-shadow: 0px 0px 3px #e5e5ea;
  border: 2px solid #FCFCFF;
  border-radius: 2px;
  padding: 45px 35px;
  margin-bottom: 105px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cs-form .form-grid .cs-form-section {
    width: 285px;
    padding: 0px;
    box-shadow: none;
    border: none;
  }
}
.cs-form .form-grid .cs-form-section .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cs-form .form-grid .cs-form-section .form {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cs-form .form-grid .cs-form-section .form {
    display: block;
  }
}
.cs-form .form-grid .cs-form-section .form p {
  margin-bottom: 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cs-form .form-grid .cs-form-section .form p input {
    width: 285px;
    height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cs-form .form-grid .cs-form-section .form p input {
    width: 545px;
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  .cs-form .form-grid .cs-form-section .form p input {
    width: 360px;
  }
}
.cs-form .form-grid .cs-form-section .form .cs-message-box {
  grid-column: 2 !important;
  grid-row: 1/4 !important;
}
.cs-form .form-grid .cs-form-section .form .cs-message-box textarea {
  height: 338px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cs-form .form-grid .cs-form-section .form .cs-message-box textarea {
    max-width: 285px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cs-form .form-grid .cs-form-section .form .cs-message-box textarea {
    width: 545px;
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  .cs-form .form-grid .cs-form-section .form .cs-message-box textarea {
    width: 360px;
  }
}
.cs-form .form-grid .cs-form-section .form .btn {
  grid-column: 1/3;
  text-align: center;
}
.cs-form .form-grid .cs-form-section .form button {
  width: 322px;
  font-weight: bold;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cs-form .form-grid .cs-form-section .form button {
    width: 285px;
  }
}

.about-us {
  padding: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-us {
    padding: 15px;
  }
}
.about-us .heading {
  text-align: center;
  margin-bottom: 20px;
}
.about-us .heading h1 {
  font-size: 32px;
  margin-bottom: 35px;
  font-weight: 400;
  line-height: 1.45;
  color: #00756c;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-us .heading h1 {
    font-size: 26px;
  }
}
.about-us .heading h2 {
  font-size: 30px;
  font-weight: 400;
  color: #00756c;
}
.about-us hr {
  width: 4.4rem;
  margin: 0 auto;
  border-top: 2px solid #00756c;
  margin-bottom: 30px;
}
.about-us .details {
  margin: 0px 150px;
  letter-spacing: 1px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-us .details {
    letter-spacing: 0px;
    margin: 0px;
  }
}
.about-us .details h2 {
  font-size: 19px;
  margin-bottom: 20px;
  color: #00756c;
  text-decoration: underline;
}
.about-us .details p, .about-us .details a {
  margin-bottom: 20px;
  font-size: 19px;
  margin-left: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-us .details p, .about-us .details a {
    margin-left: 0px;
    font-size: 16px;
  }
}
.about-us .details a {
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  color: black;
}
.about-us .details a:hover {
  text-decoration: underline;
}

.contant {
  padding-top: 24px;
}
.contant .inner-container {
  margin-bottom: 40px;
}
.contant .inner-container .book-a-table {
  width: 640px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 22px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .book-a-table {
    width: inherit;
    position: relative;
    padding-bottom: 130px;
  }
}
.contant .inner-container .book-a-table h3 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 1.5em;
}
.contant .inner-container .book-a-table h3 input {
  height: 52px;
}
.contant .inner-container .book-a-table .inputs-section {
  height: 52px;
  display: grid;
  grid-template-columns: 254px 68px 320px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .book-a-table .inputs-section {
    display: block;
    margin: 0 auto;
    width: 254px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contant .inner-container .book-a-table .inputs-section {
    display: grid;
  }
}
.contant .inner-container .book-a-table .inputs-section .input-field {
  display: grid;
  grid-template-columns: 52px 202px;
  height: 52px;
}
.contant .inner-container .book-a-table .inputs-section .input-field i {
  width: 52px;
  height: 52px;
  background-color: #00756c;
  line-height: 52px;
  color: white;
}
.contant .inner-container .book-a-table .inputs-section .input-field p input {
  width: 100%;
  height: 52px;
}
.contant .inner-container .book-a-table .inputs-section .text-field p {
  width: 100%;
  height: 52px;
  line-height: 52px;
}
.contant .inner-container .book-a-table .inputs-section .div-select {
  display: grid;
  grid-template-columns: 204px 114px;
}
.contant .inner-container .book-a-table .inputs-section .div-select .select {
  position: relative;
}
.contant .inner-container .book-a-table .inputs-section .div-select .select select {
  height: 52px;
  width: 100%;
  -webkit-appearance: none;
  padding: 0 11px;
  border: 1px solid #00756c;
  outline: none;
}
.contant .inner-container .book-a-table .inputs-section .div-select .select i {
  position: absolute;
  color: #00756c;
  right: 12px;
  top: 21px;
}
.contant .inner-container .book-a-table .inputs-section .div-select .btn {
  width: 114px;
  height: 52px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .book-a-table .inputs-section .div-select .btn {
    width: 52px;
  }
}
.contant .inner-container .book-a-table .inputs-section .div-select .btn a {
  text-decoration: none;
  height: 52px;
  width: 100%;
  line-height: 52px;
  color: white;
  cursor: pointer;
  display: block;
  background-color: #00756c;
  border: 1px solid #00756c;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .book-a-table .inputs-section .div-select .btn a {
    width: 100%;
  }
}
.contant .inner-container .book-a-table .inputs-section .div-select .btn a:hover {
  color: #00756c;
  background-color: white;
  transition: 2s;
}
.contant .inner-container .table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.contant .inner-container .table div {
  padding: 0 20px;
}
.contant .inner-container .table div:first-child {
  border-right: 1px solid black;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .table div:first-child {
    border-right: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contant .inner-container .table div:first-child {
    border-right: none;
  }
}
.contant .inner-container .table div h2 {
  margin-bottom: 12px;
  font-size: 1.75em;
}
.contant .inner-container .table div hr {
  width: 150px;
  border-top: 2px solid #0a0a0a;
  margin: 0 auto;
  margin-bottom: 12px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .table div hr {
    width: 100px;
  }
}
.contant .inner-container .table div p {
  width: 443px;
  margin: 0 auto;
  margin-bottom: 12px;
  line-height: 26px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .table div p {
    width: 272px;
  }
}
.contant .inner-container .table div img {
  margin: 0 auto;
  display: block;
  width: 580px;
  margin-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .table div img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contant .inner-container .table div img {
    width: 650px;
    height: 350px;
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  .contant .inner-container .table div img {
    width: 440px;
    height: 320px;
  }
}
.contant .inner-container .table div button {
  width: 149.53px;
  height: 52px;
  background-color: #00756c;
  color: white;
}
.contant .inner-container .table div button:hover {
  background-color: #ffffff;
  color: #00756c;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .table div button {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contant .inner-container .table div button {
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contant .inner-container .table {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contant .inner-container .table {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  .contant .inner-container .table {
    display: grid;
    grid-template-columns: 500px 500px;
  }
}

footer {
  background-color: #000000;
  width: 100%;
  height: 350px;
  padding: 60px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer {
    height: auto;
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    padding: 20px 40px 0;
    height: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  footer {
    height: auto;
    padding: 20px 60px;
  }
}
footer h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
  font-size: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer h1 {
    text-align: left;
    margin-bottom: 45px;
    font-size: 40px;
  }
}
footer h2 {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #ffff;
  padding-bottom: 12px;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer h2 {
    padding-bottom: 4px;
    margin-bottom: 15px;
    width: 100px;
  }
}
footer a {
  color: #ffffff;
  font-size: 14px;
}
footer i {
  margin-right: 10px;
  font-size: 15px;
}
footer li {
  margin-bottom: 5px;
  padding-left: 8px;
}
footer li:last-child {
  margin-bottom: 0px;
}
footer .footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 100px;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .footer-menu {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer .footer-menu {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1352px) {
  footer .footer-menu {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px 50px;
  }
}
footer .footer-menu div .logo-image {
  margin-bottom: 55px;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .footer-menu div .logo-image {
    margin-bottom: 25px;
  }
}
footer .footer-menu ul li {
  margin-bottom: 5px;
  padding: 0;
}
footer .footer-menu ul:last-child {
  margin-bottom: 0px;
}

/*# sourceMappingURL=style.css.map */
